#top {
	width:100%;
	height:100%;
	background:url(../images/topbg.gif);
}

#top .left {
	float:left;
	width:auto;
	height:100%;
	padding-top:6px;
	padding-left:20px;
}

#top .left img {
	border:0px;
}

#top .right_user {
	float:right;
	width:auto;
	height:100%;
	line-height:61px;
	text-indent:25px;
	background: url(../images/user.gif) no-repeat 0px 22px;
}

#top .right_tool {
	float:right;
	width:auto;
	padding-top:10px;
	height:100%;
	margin-right:5px;
}

#umenu {
	width:100%;
	height:100%;
	background:url(../images/leftbg.gif) repeat-Y right;
}

.viewmess li {
	float:left !important;
	float:none;
	width:100% !important;
	width:auto;
	padding-top:6px;
	padding-bottom:6px;
	border-bottom:1px solid #ddd;
}

.col_width {
	float:left !important;
	float:none;
	margin-left:30px;
	width:26%;
}

 .dark-row {
	background-color:#FCFCFC;
}
.light-row {
	background-color:#FAFAFA;
}


