#content {
	width:966px;
	margin:auto;
	text-align:left;
	clear:both;
}



#header {
	float:left;
	width:100%;
	background:white url(../images/header.gif) repeat-x bottom;
}

#header #top {
	float:left;
	width:100%;
	height:25px;	
}

#top #top_left {
	margin-top:2px;
	float:left;
	width:50%;
	height:20px;
	line-height:20px;
}


#top #top_right {
	margin-top:3px;
	float:right;
	text-align:right;
	width:50%;
	height:20px;
	line-height:20px;
}

#header #logo {
	float:left;
	width:220px;
	height:80px;
	margin-left:10px;
}

#header #banner {
	float:left;
	text-align:center;
	width:500px;
	height:70px;
	margin-top:10px;
}

#header #tool {
	float:right;
	width:200px;
	height:70px;
	margin-top:15px;
}

#header #tool li {
	float:left;
	width:70px !important;
	width:80px;
	line-height:20px;
	text-align:center;
	height:20px;
	margin:5px;
	border:1px solid #E4E4E4;
}

#header #right_box {
	width:720px;
	height:80px;
	float:right;
}

#menu {
	float:left;
	width:100%;
	height:30px;
	background:url(../images/menu.gif);
}

#container {
	float:left;
	width:100%;
}

#footer {
	float:left;
	width:100%;
	height:60px;
	text-align:center;
	line-height:20px;
	border-top:2px solid #FB9355;
	background:#fff url(../images/footer.gif) repeat-x top;
}


.nav {
	float:left;
	width:100%;
	height:8px;
	overflow:hidden;
	clear:both;
}

.line1 {
	float:left;
	width:100%;
}

#col_1 {
	float:left;
	width:265px;
	height:212px;
}

#col_2 {
	float:left;
	width:415px;
	margin-left:10px;
	height:212px;
}

#col_3 {
	float:right;
	width:266px;
	height:212px;
}

.mbox1 {
	margin-top:10px;
	width:265px;
	float:left;
	height:212px;
}

.mbox2 {
	margin-top:10px;
	width:415px;
	float:left;
	margin-left:10px;
	height:212px;
}

.mbox3 {
	margin-top:10px;
	float:right;
	width:266px;
	margin-left:10px;
	height:212px;
}






#main {
	float:left;
	width:708px;
}

#sidebar {
	float:right;
	width:250px;
}

#search {
	float:left;
	width:100%;
}

#link {
	float:left;
	width:100%;
}

#link {
	width:100%;
}
.comm {
	width:100%;
	float:left;
}
.sidebox {
	float:left;
	overflow:hidden;
	width:250px;
}

.sideboxs {
	float:right;
	overflow:hidden;
	width:350px;
}


.rightbox {
	float:right;
	overflow:hidden;
	width:350px;
	height:212px;
}

.leftbox {
	float:left;
	overflow:hidden;
	width:350px;
	height:212px;
}

.article {
	float:left;
	width:100%;
}

.column_left {
	float:left;
	overflow:hidden;
	width:200px;
}

.column_right {
	float:right;
	overflow:hidden;
	width:500px;
}

.column_top {
	float:left;
	overflow:hidden;
	width:100%;
	background:url(../images/colummsg.gif);
	border-bottom:2px solid #888;
}

.column_top img {
	float:left;
	margin-right:20px;
	margin-left:10px;
	margin-top:5px;
	border:1px solid #888;	
}
.column_top span {
	float:left;
	width:360px;
	margin-top:10px;
	text-indent:2em;
	word-break:break-all;
	overflow:hidden;
}

.dt{
	height:25px;
	line-height:25px;
	background:url(../images/mbox-tbg.gif) right top no-repeat;
	overflow:hidden;
	clear:both;
}

.dt strong{
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:4px;
	display:block;
	float:left;
	color:#555;
	background:url(../images/mbox-tbg.gif) left top no-repeat;
	letter-spacing:1px;
}
.dt div{
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:4px;
	display:block;
	float:left;
	background:url(../images/mbox-tbg.gif) left top no-repeat;
	letter-spacing:1px;
}
	

.dt strong a{
	padding-left:20px;
	background:url(../images/tree_folder.gif) left center no-repeat;
}
.dt strong a:hover {
	background:url(../images/tree_folderopen.gif) left center no-repeat;
}
.dt span.more{
	float:right;
	line-height:25px;
	padding-right:8px;
}

.dt span.more a:hover {
	position:relative;                       
	top:1px;                         
	left:1px; 
}
.dd{
	float:none !important;
	float:left;
	margin:0px;
	padding:4px;
	padding-top:2px;
	width:auto !important;
	width:100%;
	border:1px solid #FB9355;
	border-top:0px;
	overflow:hidden;
	background:#fff url(../images/header.gif) repeat-x bottom;
}

.page {
	text-align:right;
	float:right;
	padding-top:6px;
	padding-bottom:6px;
	width:100%;
	margin-top:3px;
	background:#FAFAFA;
}


.article #title {
	float:left;
	width:100%;
	margin-top:3px;
	word-break:break-all;
	text-align:center;
	background:url(../images/colummsg.gif);
}

.article #ccont {
	float:left;
	width:100%;
	line-height:20px;
	word-break:break-all;
}
#user {
	text-align:left;
	width:820px;
	margin-left:auto;
	margin-right:auto;
}

#user .uleft {
	width:280px;
	float:left;

}

.top {
	width:100%;
	float:left;
	text-align:left;
}

.top .uimg {
	width:70px !important;
	width:90px;
	float:left;
	height:70px !important;
	height:90px;
	padding:10px;

}

.top .uset {
	width:160px !important;
	width:180px;
	height:80px !important;
	height:100px;
	float:left;
	padding:10px;
}

.uset div {
	line-height:25px;
	
}

.top .umess {
	padding-left:10px;
	width:260px !important;
	width:280px;
	float:left;
	
}



#user .uright {
	margin-left:10px;
	float:left;
	margin-top:30px;
}

.uhead{
	float:left;
	width:100%;
	border-bottom:1px solid #CFCFCF;

}

.uhead h3{
	padding:0px;
	margin:0px;
	height:35px;
	width:118px;
	background:white url(../images/uhead.gif) no-repeat left;
	line-height:35px;
	text-align:center;
	color:#000;
	position:relative;
	top:1px;
}
.uzcolor {
	width:100%;
	height:30px;
	line-height:30px;
	margin-top:20px;
}

.uzcolor a{
	font-size:14px;
}
.ucontent {
	float:left;
	width:100%;
}

.ucontent form div {
	width:100%;
	line-height:30px;
	font-size:14px;
}

.redh {
	color:#a00;
}
.udt {
	width:100%;
	height:80px;
	border:1px solid #AAA;
	float:left;
	margin-bottom:10px;
	background:#FAFAFA;
}

.gf {
	width:100%;
	float:left;
	margin-top:10px;
}

.gf div {
	width:100%;
	float:left;
}

.udd {
	width:100%;
	border:1px solid #AAA;
	float:left;
}
.fg div{
	float:left;
	text-align:center;
	line-height:18px;
	width:30%;
}

.fg span {
	width:100%;
	text-align:center;
	font-weight:bold;
	font-size:12px;
}

.umess .mydt li{
	width:40%;
	float:left;
	font-size:14px;
	line-height:20px;
}

.follow {
	background:#888;
	padding:3px;
	color:white;
	font-weight:bold;
	cursor:pointer;	
}

.edz {
	width:190px;
	height:55px;
	float:left;
	margin:15px;
}

.edz .uhead {
	float:left;
	width:50px;
	height:50px;
}
.edz .info {
	width:130px;
	height:50px;
	float:right;
}

.edz .info .uname {
	width:130px;
	height:25px;
	line-height:25px;
	float:left;
}
.edz .info .uname a {
	font-size:14px;
	color:#007CC4;
	font-weight:bold;
}


